:root {
    --primaryColor: #300f49;

    --primaryText: #1f2a4b;
    --secondaryText: #6e7898;
}

body, html { 
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

* {
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    max-width: 1170px;
}

.row {
    display: flex;
    margin: 0 -15px;
    flex-wrap: wrap;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center{
    text-align: center;
}

[class*="col-"] {
    padding: 0 15px;
}

.col-12{width:100%}
.col-11{width:91.66666667%}
.col-10{width:83.33333333%}
.col-9{width:75%}
.col-8{width:66.66666667%}
.col-7{width:58.33333333%}
.col-6{width:50%}
.col-5{width:41.66666667%}
.col-4{width:33.33333333%}
.col-3{width:25%}
.col-2{width:16.66666667%}
.col-1{width:8.33333333%}

@media (min-width: 992px) {
    .col-l-12{width:100%}
	.col-l-11{width:91.66666667%}
	.col-l-10{width:83.33333333%}
	.col-l-9{width:75%}
	.col-l-8{width:66.66666667%}
	.col-l-7{width:58.33333333%}
	.col-l-6{width:50%}
	.col-l-5{width:41.66666667%}
	.col-l-4{width:33.33333333%}
	.col-l-3{width:25%}
	.col-l-2{width:16.66666667%}
	.col-l-1{width:8.33333333%}
}

.menu {
    z-index: 999;
    position: fixed;
    padding: 15px 0;
    left: 0; right: 0; top: 0;
    background: var(--primaryColor);
}

.menu .logo {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 32px;
    letter-spacing: 5px;
}

.menu nav {
    text-align: right;
}

.menu li {
    display: inline-block;
    padding: 0 10px;
}

.menu li.btn {
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 10px 15px;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    padding: 5px;
}

.gradient-circle {
    text-align: center;
    position: relative;
}

.gradient-circle::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%; left: 50%;
    border-radius: 360px;
    transform: translate(-50%, -50%);
    background: linear-gradient(140deg, #ffa159, #ff39b4);
    width: 400px;
    height: 400px;
}

.gradient-circle img {
    position: relative;
}

.buttons{
    padding-top: 30px;
}

.area {
    padding: 110px 0;
}

.area.configure {
    color: #fff;
    background: var(--primaryColor);
}

.area.configure h1 {
    font-size: 70px;
    margin: 0 0 30px;
}

.area.configure p {
    margin: 0;
    font-size: 22px;
    font-weight: 300;
    line-height: 32px;
}

.top-1 {
    text-align: center;
    color: var(--primaryText);
    margin: 0 0 40px;
    font-size: 40px;
}

.top-1 small {
    color: var(--secondaryText);
    font-size: 19px;
    display: block;
    margin-bottom: 15px;
    font-weight: normal;
}


/* Arquivos do css da outra pasta (excluir comentario após ajustes) */


.feature{
    text-align: center;
    border-radius: 10px;
    padding: 0 20px 30px;
    background-color: rgba(255, 255, 255, 0.7);
}

.img-1 {
    margin: -60px 0 0;
    text-align: center;
    position: relative;
    z-index: -1;
}

h2.top-1 {
    text-align: center;
    color: var(--primaryColor);
    font-size: 40px;
}

h2.top-1 span{
    font-size: 20px;
}

.area.middle .phone {
    display: block;
    margin: -50px auto 0;
}

.bt{
    font-size: 15px;
    border-radius: 10px;
    background: linear-gradient(140deg, #ffa159, #ff39b4);
    color: #fff;
    padding: 15px 25px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
}

.box-d {
    text-align: center;
    padding: 0;
    margin-top: 20px;
}

.area.back-g{
    background: linear-gradient(140deg, #ffa159, #ff39b4);
}    

h2.end {
    font-size: 70px;
    padding: 0 30px;
    margin: 0;
}

.under {
    padding-top: 0;

}